#Booleaner {
    color: rgb(0, 166, 232);
}
#Gray {
    color: gray;
}

#Data {
    font-size: xx-small;
    border-spacing: 0cqmin;
}

#Sottotitolo-foto {
font-size: x-small;
font-family: 'Times New Roman', Times, serif;
}

table {
    text-align: center;
  }

.RowTable {
    background-color: rgb(0, 166, 232);
    color: white;
    font-weight: bold;
}

.CenterTable {
    background-color: skyblue;
}

h3 {
    color: gray;
}

body {
    border-width: medium ;
}

#P1 {
    color: white;
    margin: 0px;
    background-image: url(Img/monitor.jpg);
    background-repeat: no-repeat;
    font-size: 140%;
    font-weight: normal;
    line-height: 260%;
    text-align: center;
    width: 240px;
    height: 150px;
}

#P2 {
    color: white;
    margin: 0px;
    background-image: url(Img/graph.jpg);
    background-repeat: no-repeat;
    font-size: 140%;
    font-weight: normal;
    line-height: 260%;
    text-align: center;
    width: 240px;
    height: 150px;
}

