#Sottotitolo-foto {
font-size: x-small;
font-family: 'Times New Roman', Times, serif;
}

table {
    text-align: center;
  }

.RowTable {
    background-color: rgb(0, 166, 232);
    color: white;
    font-weight: bold;
}

.CenterTable {
    background-color: skyblue;
}

h3 {
    color: gray;
}

