#Sottotitolo-foto {
font-size: x-small;
font-family: 'Times New Roman', Times, serif;
}

table {
    text-align: left;
}
.RowTable {
    background-color: rgb(0, 166, 232);
    color: white;
    font-weight: bold;
}
.Table {
    background-color: skyblue;
}